HechosHistoricos.dtd

<!ELEMENT HechosHistoricos (HechoHistorico+)>
        <!ELEMENT HechoHistorico (Fecha)>
        <!ELEMENT Epoca EMPTY>
        <!ELEMENT Fecha (Dia,Mes,Año)>
        <!ELEMENT Dia (#PCDATA)>
        <!ELEMENT Mes (#PCDATA)>
        <!ELEMENT Año (#PCDATA)>
        <!ATTLIST HechoHistorico descripcion CDATA #REQUIRED>